.contacto{
  height: 100%;
}

.contacto > .info-contacto {
  max-width: 992px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,15rem),1fr));
  /*grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));*/
  /*grid-auto-flow: dense;*/
  grid-auto-rows: 22rem;
}

.contacto > .info-contacto > .direcccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.contacto > .info-contacto > .direcccion > h3,
.contacto > .info-contacto > .direcccion > p{
  margin:0;
  font-size: var(--fontsizeTitle2);
  color:var(--color2);	
}



.contacto > .info-contacto > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.8rem;
  padding: 0 0.5rem;
}

.contacto > .info-contacto > form > input,
.contacto > .info-contacto > form > textarea{
  border: 2px solid var(--color3);
  height: 2.5rem;
  background-color: inherit;
}